[Unit]
Description=Expose RPi Cam over RTSP
After=network-online.target

[Service]
ExecStart=rusty-engine -d /dev/video0 -h 720 -w 1280 -i rpi

[Install]
WantedBy=multi-user.target
